{% extends 'index.html' %}
{% block tab_content %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'calculations.index' %} active {% endif %}" aria-current="page"
            href="{{ url_for('calculations.index') }}">Расчет 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'calculations.second' %} active {% endif %}"
            href="{{ url_for('calculations.second') }}">Расчет 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'calculations.third' %} active {% endif %}"
            href="{{ url_for('calculations.third') }}">Расчет 3 </a>
    </li>
</ul>

<div class="mt-3">
    {% block tab_tab_content %}
    {% endblock %}
</div>

{% endblock %}
