{% extends 'base.html' %}
{% block content %}
<h1 class="my-3 text-center">АСОС</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if 'orders' in request.endpoint %} active {% endif %}" aria-current="page"
            href="{{ url_for('orders.index') }}">Заказы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'shippers' in request.endpoint %} active {% endif %}"
            href="{{ url_for('shippers.index') }}">Поставщики</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'documents' in request.endpoint %} active {% endif %}"
            href="{{ url_for('documents.index') }}">Документы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'materials_types' in request.endpoint %} active {% endif %}"
            href="{{ url_for('materials_types.index') }}">Справочник материалов</a>
    </li>
</ul>

<div class="mt-3">
    {% block tab_content %}
    {% endblock %}
</div>

{% endblock %}
